<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>

<body>
    <center>
        <h1>Sign Up Page</h1>
    </center>
    <form action="/signup" method="post">
        <input type="text" name="" id="" placeholder="username">
        <input type="password" name="" id="" placeholder="passwprd">
        <input type="submit" name="" id="" value="Sign Up">
    </form>
</body>

</html>